*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: whitesmoke;
    height: 100%;
}
.navbar-brand svg{
    width: 50px;
    height: 40px;
}
.texto{
    background-color:black;
    color: white;
}
.texto h2{
    font-weight: bold;
    font-style: oblique;
    text-decoration: underline;
}
.texto p{
    font-style: italic;
}
.svg-container svg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 50%; 
    color:cadetblue;
    background-color: black;
    border: 1px solid black;
}
.proyecto h2{
    font-style:italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.btn svg{
    background-color: black;
    border-radius: 50%;
    color: white;
}
.btn {
    background-color:cadetblue;
}
.cuadro:hover{
    background-color: black;
    color: white;
}
.imagenes{
    padding-left: 30px;
    padding-right: 30px;
}
.articles{
    max-width: 600px; 
    margin: 0 auto; 
    padding: 15px; 
}
.articles li{
    text-decoration: underline blue;
}
.carousel img{
    border-radius: 50%;
    border: 1px solid black;
    padding: 5px;
}
.carousel-item img {
    max-width: 50%; 
    height: auto; 
    margin: auto; 
}

.carousel-control-prev, .carousel-control-next {
    width: 5%; 
    color: black; 
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black; 
}
.redes{
    background-color: black;
    padding: 50px;
}
.icon-row {
    display: flex; 
    align-items: center;
    justify-content: center;
    padding:15px;
}
.icon-row svg {
    width: 32px;
    height: 32px; 
    color: white;
    margin-left: 20px;
}